@import url(“styles/header.css”);

:root{
    --cor-de-fundo
}

body {
    background-color: black;
}

    h1 {
        background-color: rgba(156, 91, 16, 0.918);
        font-size: 20px;
        }
    }
.imagem{
width: 50%;
height: 24px;
background-image: url(“../img/Menu.svg”);
display: inline-block; 
}
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    }
