@import url("styles/header.css");

:root{
    --cor-de-fundo:#e28922;
}

body {
    background-color: #000000;
}
:root{
    --cor-de-fundo: linear-gradient#e28922 rgb(245, 216, 179);
    --branco: #df9af0bb;
    }
